<div class="container">
	<div class="main-login main-center">
		<form class="form-horizontal" [formGroup]="registrationForm" (ngSubmit)="addPost(registrationForm.value)">
			
			<div class="form-group">
				<label for="username" class="cols-sm-2 control-label">Username</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="username" id="username" formControlName="username" placeholder="Enter your username"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="fullname" class="cols-sm-2 control-label">Full name</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="fullname" id="fullname" formControlName="fullname" placeholder="Enter your full name"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="age" class="cols-sm-2 control-label">Age</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="age" id="age" formControlName="age" placeholder="Enter your age"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="cols-sm-2 control-label">Password</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="password" id="password" formControlName="password" placeholder="Enter your Password"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="confirm" id="confirm" formControlName="confirm" placeholder="Confirm your Password"/>
					</div>
				</div>
			</div>

			<div class="form-group ">
				<button type="submit" class="btn btn-primary btn-lg btn-block login-button" [disabled]="!registrationForm.valid">Register</button>
			</div>
		</form>
	</div>
</div>
