

<div class="container">
	<div class="list-group">
		<li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let entry of entries">
			<div class="row">
				<div class="col-md-1">
					<input type="checkbox" [checked]="entry.public" (click)="updatePermission(entry)">
				</div>
				<div class="col-md-10">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">{{entry.title}}</h5>
					</div>
					<p class="mb-1">{{entry.text}}</p>
				</div>
				<div class="col-md-1">
					<input type="button" value="Delete" class="btn btn-danger" (click)="deleteEntry(entry.id)">
				</div>
			</div>
			
		</li>
	</div>
</div>