<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/entries/public">Public Entries</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/entries/private">Your Entries</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" routerLink="/newentry" [disabled]="token === ''" style="margin-left: 70px">create entry</button>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a *ngIf="token !== ''" class="nav-link" style="color: white; cursor: pointer;" (click)="open(content)">{{username}}</a>
        <button *ngIf="token === ''" routerLink="/newuser" class="btn btn-outline-primary my-2 my-sm-0" style="margin-right: 10px;" type="button">Register</button>
        <button *ngIf="token === ''" routerLink="/login" class="btn btn-outline-success my-2 my-sm-0" type="button">Login</button>
        <button *ngIf="token !== ''" class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="logOut()">Logout</button>
      </form>
    </div>
  </nav>


  <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">My Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Username: {{username}}</p>
    <p>Full name: {{fullname}}</p>
    <p>Age: {{age}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
